@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Noto+Sans+JP&display=swap');

* {
    font-family: 'Noto Sans JP', sans-serif;
}

body {
    background-image: url('../img/pizza1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: rgb(214, 70, 13);
    margin: 0;
}

header {
    margin: 0;
    display: block;
    width: 100%;
    height: 85px;
    line-height: 85px;
    background-color: rgba(17, 17, 17, 0.8);
}

h1 {
    margin: 0 0px 0 20px;
    color: #fff;
    font-family: 'Amatic SC', cursive;
    font-size: 40pt;
    text-align: center;
}

#menuBG {
    width: 650px;
    margin: 30px auto;
    background-color: rgba(255, 255, 255, .90);
    border-radius: 5px;
}

/*
#frmMenu {
    width: 400px;
    height: 200px;
}
*/

#menu {
    display: flex;
}

.left, .right, .middle {
    flex: 33%;
    padding: 10px 15px 15px 35px;
}

h3 {
    font-family: 'Amatic SC', cursive;
    font-size: 40px;
    margin-top: 15px;
    margin-bottom: 5px;
}

#cart {
    width: 70%;
    display: flex;
    margin: 0px auto;

}

#totalPrice, #showText {
    margin: 0 auto;
    padding: 20px;
    padding-left: 35px;
    flex: 50%;
}

#button-container {
    padding: 15px;
    padding-bottom: 25px;
}

#btnOrder {
    padding: 15px;
    display: block;
    margin: auto;
    background-color: rgb(17, 17, 17);
    color: #fff;
    border: none;
    border-radius: 5px;
}

#btnOrder:hover {
    background-color: rgb(255, 72, 0);
}